.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__eqYIe {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__eqYIe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eqYIe > :global(.__wab_flex-container) > *,
.freeBox__eqYIe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eqYIe > :global(.__wab_flex-container) > picture > img,
.freeBox__eqYIe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__y2WvR {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__y2WvR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__y2WvR > :global(.__wab_flex-container) > *,
.freeBox__y2WvR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y2WvR > :global(.__wab_flex-container) > picture > img,
.freeBox__y2WvR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__jg47P {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__p2B0M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__kvE9N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__kWeDy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__qUslY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__sbQh8 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link___3EXa0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__vjNad {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___7GiXy {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 8px;
}
.freeBox___7GiXy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___7GiXy > :global(.__wab_flex-container) > *,
.freeBox___7GiXy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7GiXy > :global(.__wab_flex-container) > picture > img,
.freeBox___7GiXy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__ezGyZ {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___0EwMc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
