@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800%3B1%2C400%3B1%2C600%3B1%2C700%3B1%2C800&display=swap");

.plasmic_tokens {
  --token-z98eyjq-Hfdk: #007aff;
  --plasmic-token-blue: var(--token-z98eyjq-Hfdk);
  --token-0nenYbLm3_2z: #333333;
  --plasmic-token-primary-label: var(--token-0nenYbLm3_2z);
  --token-0UopB7-AdeeC: #666666;
  --plasmic-token-secondary-label: var(--token-0UopB7-AdeeC);
  --token-k91Bie9MO1ul: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-k91Bie9MO1ul);
  --token-yTravJSwS1dp: #ffcc00;
  --plasmic-token-star-color: var(--token-yTravJSwS1dp);
  --token-XgjXPNV_9WE9: #333333;
  --plasmic-token-brand-brand: var(--token-XgjXPNV_9WE9);
  --token-cpAzXDjg1b1z: 0.5rem;
  --plasmic-token-size-8: var(--token-cpAzXDjg1b1z);
  --token-wjefKUAKolMo: Inter;
  --plasmic-token-sans-serif: var(--token-wjefKUAKolMo);
  --token-A5pfJRzTXKuJ: 1rem;
  --plasmic-token-font-md: var(--token-A5pfJRzTXKuJ);
  --token-K_VkhBQdYyfV: 1.25;
  --plasmic-token-line-height-md: var(--token-K_VkhBQdYyfV);
  --token-u3eHUCgM08OR: 0.375rem;
  --plasmic-token-size-6: var(--token-u3eHUCgM08OR);
  --token-y9nnUXwziq_6: #374151;
  --plasmic-token-neutral-neutral: var(--token-y9nnUXwziq_6);
  --token-R5dP4H7Ox5NL: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-R5dP4H7Ox5NL);
  --token-WsAo8JfY7A2Z: #6b7280;
  --plasmic-token-muted-muted: var(--token-WsAo8JfY7A2Z);
  --token-CnMOdrlmAH3a: 0.25rem;
  --plasmic-token-size-4: var(--token-CnMOdrlmAH3a);
  --token-23STbJMIKtZT: 0.75rem;
  --plasmic-token-font-sm: var(--token-23STbJMIKtZT);
  --token-Wam8LlJVX_n7: 1;
  --plasmic-token-line-height-sm: var(--token-Wam8LlJVX_n7);
  --token-sT-BSdzLNCfs: 1.25rem;
  --plasmic-token-font-lg: var(--token-sT-BSdzLNCfs);
  --token-e5CRMHTaUJvy: 1.4;
  --plasmic-token-line-height-lg: var(--token-e5CRMHTaUJvy);
  --token-FfLoteMzLNfy: 0.125rem;
  --plasmic-token-size-2: var(--token-FfLoteMzLNfy);
  --token-Sd7TGxa-fIxN: #16a34a;
  --plasmic-token-success-success: var(--token-Sd7TGxa-fIxN);
  --token-y3H_RAvFxdt7: #facc15;
  --plasmic-token-warning-warning: var(--token-y3H_RAvFxdt7);
  --token-phje6mOC0CF-: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-phje6mOC0CF-);
  --token-tByR9mcLbpen: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-tByR9mcLbpen);
  --token-QKVV7ZBvSFlu: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-QKVV7ZBvSFlu);
  --token-m9kv-NPVtGeo: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-m9kv-NPVtGeo);
  --token-xO18J4KbrNNj: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-xO18J4KbrNNj);
  --token-_Lz0yPjS6JBS: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-_Lz0yPjS6JBS);
  --token-Bb8E04aNtD2B: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-Bb8E04aNtD2B);
  --token-0QE3ptlp7xna: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-0QE3ptlp7xna);
  --token-s0ziBQQju3ld: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-s0ziBQQju3ld);
  --token-bkOGd9AP3wvT: #86efac;
  --plasmic-token-success-success-border: var(--token-bkOGd9AP3wvT);
  --token-DB3nCgbm32gS: #fde047;
  --plasmic-token-warning-warning-border: var(--token-DB3nCgbm32gS);
  --token-A5Wq9B-loIqv: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-A5Wq9B-loIqv);
  --token-l71sRQLdPysO: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-l71sRQLdPysO);
  --token-XzEGruuAczSo: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-XzEGruuAczSo);
  --token-zJ8ygGecBPW1: #00000033;
  --plasmic-token-interaction-pressed: var(--token-zJ8ygGecBPW1);
  --token-zDIgo2_aCsIH: 0.625rem;
  --plasmic-token-size-10: var(--token-zDIgo2_aCsIH);
  --token-XMQkM8AcEkrG: 0.75rem;
  --plasmic-token-size-12: var(--token-XMQkM8AcEkrG);
  --token-zD13gx0EptDq: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-zD13gx0EptDq);
  --token-9-yGz4oyq9us: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-9-yGz4oyq9us);
  --token-sChLyJFjjcxl: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-sChLyJFjjcxl);
  --token-sSGOLgV5mRHO: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-sSGOLgV5mRHO);
  --token-8OWqVskSa5-W: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-8OWqVskSa5-W);
  --token-06h1ttZ7DDnu: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-06h1ttZ7DDnu);
  --token-cIfHvE01KrLP: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-cIfHvE01KrLP);
  --token-JyNzBEZhyBzw: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-JyNzBEZhyBzw);
  --token-tgOWaV5-Y2XZ: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-tgOWaV5-Y2XZ);
  --token-WOyrWnZ5dBzw: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-WOyrWnZ5dBzw);
  --token-UsxDRv3U-pub: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-UsxDRv3U-pub);
  --token-evueJPSBSQtS: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-evueJPSBSQtS
  );
  --token-0jqx3JxPv5f-: 2rem;
  --plasmic-token-size-32: var(--token-0jqx3JxPv5f-);
  --token-0juRgTyxC--b: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-0juRgTyxC--b);
  --token-lu-GTdtj3xnX: #030712;
  --plasmic-token-basic-text-primary: var(--token-lu-GTdtj3xnX);
  --token-ebbWDsQJKxEU: #d1d5db;
  --plasmic-token-basic-border: var(--token-ebbWDsQJKxEU);
  --token-vzsVagUo_DgJ: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-vzsVagUo_DgJ);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ljsa2e0buNJH_font-family: "Inter", sans-serif;
  --mixin-ljsa2e0buNJH_font-size: 16px;
  --mixin-ljsa2e0buNJH_font-style: normal;
  --mixin-ljsa2e0buNJH_color: #333333;
  --mixin-ljsa2e0buNJH_text-align: left;
  --mixin-ljsa2e0buNJH_text-transform: none;
  --mixin-ljsa2e0buNJH_white-space: pre-wrap;
  --mixin-ljsa2e0buNJH_user-select: text;
  --mixin-ljsa2e0buNJH_text-decoration-line: none;
  --mixin-ljsa2e0buNJH_text-overflow: clip;
  --mixin-ljsa2e0buNJH_line-height: 1.5;
  --mixin-6m02ejBnd7Ou_font-family: "Inter", sans-serif;
  --mixin-6m02ejBnd7Ou_color: #000000;
  --mixin-6m02ejBnd7Ou_font-size: 48px;
  --mixin-6m02ejBnd7Ou_font-weight: 700;
  --mixin-6m02ejBnd7Ou_letter-spacing: -1px;
  --mixin-6m02ejBnd7Ou_line-height: 1.1;
  --mixin-6m02ejBnd7Ou_white-space: pre-wrap;
  --mixin-vHZIXBA2Yy7s_font-family: "Inter", sans-serif;
  --mixin-vHZIXBA2Yy7s_color: #000000;
  --mixin-vHZIXBA2Yy7s_font-size: 32px;
  --mixin-vHZIXBA2Yy7s_font-weight: 600;
  --mixin-vHZIXBA2Yy7s_letter-spacing: -0.8px;
  --mixin-vHZIXBA2Yy7s_line-height: 1.2;
  --mixin-vHZIXBA2Yy7s_white-space: pre-wrap;
  --mixin-0XQ_WI-DRtEq_font-family: "Inter", sans-serif;
  --mixin-0XQ_WI-DRtEq_color: #000000;
  --mixin-0XQ_WI-DRtEq_font-size: 24px;
  --mixin-0XQ_WI-DRtEq_font-weight: 600;
  --mixin-0XQ_WI-DRtEq_letter-spacing: -0.5px;
  --mixin-0XQ_WI-DRtEq_line-height: 1.3;
  --mixin-0XQ_WI-DRtEq_white-space: pre-wrap;
  --mixin-zAeKv1AKQTQZ_font-family: "Inter", sans-serif;
  --mixin-zAeKv1AKQTQZ_color: #000000;
  --mixin-zAeKv1AKQTQZ_font-size: 20px;
  --mixin-zAeKv1AKQTQZ_font-weight: 600;
  --mixin-zAeKv1AKQTQZ_letter-spacing: -0.3px;
  --mixin-zAeKv1AKQTQZ_line-height: 1.5;
  --mixin-zAeKv1AKQTQZ_white-space: pre-wrap;
  --mixin-wck5nRqbABBb_font-family: "Inter", sans-serif;
  --mixin-wck5nRqbABBb_color: #000000;
  --mixin-wck5nRqbABBb_font-size: 16px;
  --mixin-wck5nRqbABBb_font-weight: 600;
  --mixin-wck5nRqbABBb_line-height: 1.5;
  --mixin-wck5nRqbABBb_white-space: pre-wrap;
  --mixin-iikcjH7bYIjn_border-left-color: #dddddd;
  --mixin-iikcjH7bYIjn_border-left-style: solid;
  --mixin-iikcjH7bYIjn_border-left-width: 3px;
  --mixin-iikcjH7bYIjn_color: #888888;
  --mixin-iikcjH7bYIjn_padding-left: 10px;
  --mixin-iikcjH7bYIjn_white-space: pre-wrap;
  --mixin-mTRjLzm8Ds3x_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mTRjLzm8Ds3x_border-bottom-color: #dddddd;
  --mixin-mTRjLzm8Ds3x_border-bottom-style: solid;
  --mixin-mTRjLzm8Ds3x_border-bottom-width: 1px;
  --mixin-mTRjLzm8Ds3x_border-left-color: #dddddd;
  --mixin-mTRjLzm8Ds3x_border-left-style: solid;
  --mixin-mTRjLzm8Ds3x_border-left-width: 1px;
  --mixin-mTRjLzm8Ds3x_border-right-color: #dddddd;
  --mixin-mTRjLzm8Ds3x_border-right-style: solid;
  --mixin-mTRjLzm8Ds3x_border-right-width: 1px;
  --mixin-mTRjLzm8Ds3x_border-top-color: #dddddd;
  --mixin-mTRjLzm8Ds3x_border-top-style: solid;
  --mixin-mTRjLzm8Ds3x_border-top-width: 1px;
  --mixin-mTRjLzm8Ds3x_border-bottom-left-radius: 3px;
  --mixin-mTRjLzm8Ds3x_border-bottom-right-radius: 3px;
  --mixin-mTRjLzm8Ds3x_border-top-left-radius: 3px;
  --mixin-mTRjLzm8Ds3x_border-top-right-radius: 3px;
  --mixin-mTRjLzm8Ds3x_font-family: "Inconsolata";
  --mixin-mTRjLzm8Ds3x_padding-bottom: 1px;
  --mixin-mTRjLzm8Ds3x_padding-left: 4px;
  --mixin-mTRjLzm8Ds3x_padding-right: 4px;
  --mixin-mTRjLzm8Ds3x_padding-top: 1px;
  --mixin-mTRjLzm8Ds3x_white-space: pre-wrap;
  --mixin-eIOiv-ss_Rua_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-eIOiv-ss_Rua_border-bottom-color: #dddddd;
  --mixin-eIOiv-ss_Rua_border-bottom-style: solid;
  --mixin-eIOiv-ss_Rua_border-bottom-width: 1px;
  --mixin-eIOiv-ss_Rua_border-left-color: #dddddd;
  --mixin-eIOiv-ss_Rua_border-left-style: solid;
  --mixin-eIOiv-ss_Rua_border-left-width: 1px;
  --mixin-eIOiv-ss_Rua_border-right-color: #dddddd;
  --mixin-eIOiv-ss_Rua_border-right-style: solid;
  --mixin-eIOiv-ss_Rua_border-right-width: 1px;
  --mixin-eIOiv-ss_Rua_border-top-color: #dddddd;
  --mixin-eIOiv-ss_Rua_border-top-style: solid;
  --mixin-eIOiv-ss_Rua_border-top-width: 1px;
  --mixin-eIOiv-ss_Rua_border-bottom-left-radius: 3px;
  --mixin-eIOiv-ss_Rua_border-bottom-right-radius: 3px;
  --mixin-eIOiv-ss_Rua_border-top-left-radius: 3px;
  --mixin-eIOiv-ss_Rua_border-top-right-radius: 3px;
  --mixin-eIOiv-ss_Rua_font-family: "Inconsolata";
  --mixin-eIOiv-ss_Rua_padding-bottom: 3px;
  --mixin-eIOiv-ss_Rua_padding-left: 6px;
  --mixin-eIOiv-ss_Rua_padding-right: 6px;
  --mixin-eIOiv-ss_Rua_padding-top: 3px;
  --mixin-eIOiv-ss_Rua_white-space: pre-wrap;
  --mixin-Ey3dVKRIg8PX_display: flex;
  --mixin-Ey3dVKRIg8PX_flex-direction: column;
  --mixin-Ey3dVKRIg8PX_align-items: stretch;
  --mixin-Ey3dVKRIg8PX_justify-content: flex-start;
  --mixin-Ey3dVKRIg8PX_list-style-position: outside;
  --mixin-Ey3dVKRIg8PX_padding-left: 40px;
  --mixin-Ey3dVKRIg8PX_position: relative;
  --mixin-Ey3dVKRIg8PX_list-style-type: decimal;
  --mixin-Ey3dVKRIg8PX_white-space: pre-wrap;
  --mixin-KYS9l9oEVKYr_display: flex;
  --mixin-KYS9l9oEVKYr_flex-direction: column;
  --mixin-KYS9l9oEVKYr_align-items: stretch;
  --mixin-KYS9l9oEVKYr_justify-content: flex-start;
  --mixin-KYS9l9oEVKYr_list-style-position: outside;
  --mixin-KYS9l9oEVKYr_padding-left: 40px;
  --mixin-KYS9l9oEVKYr_position: relative;
  --mixin-KYS9l9oEVKYr_list-style-type: disc;
  --mixin-KYS9l9oEVKYr_white-space: pre-wrap;
  --mixin-GZhKYyVUeQ7z_white-space: pre-wrap;
  --mixin-5xc8aCq_rdEW_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-FNS6KFH652i__white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-FNS6KFH652i__white-space);
  --mixin-3LG9ZO8jEqcp_white-space: pre-wrap;
  --plasmic-mixin-h-1_white-space: var(--mixin-3LG9ZO8jEqcp_white-space);
  --mixin-Uy_prpdAhKl-_white-space: pre-wrap;
  --plasmic-mixin-h-2_white-space: var(--mixin-Uy_prpdAhKl-_white-space);
  --mixin-nDW1oPQoESkL_white-space: pre-wrap;
  --plasmic-mixin-h-3_white-space: var(--mixin-nDW1oPQoESkL_white-space);
  --mixin-tZlqafEBIAZq_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-tZlqafEBIAZq_white-space);
  --mixin-Ur3oMVe780xb_white-space: pre-wrap;
  --plasmic-mixin-product-image_white-space: var(
    --mixin-Ur3oMVe780xb_white-space
  );
  --mixin-x3ogOj1B3_Dv_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-x3ogOj1B3_Dv_box-shadow);
  --mixin-x3ogOj1B3_Dv_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-x3ogOj1B3_Dv_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ljsa2e0buNJH_font-family);
  font-size: var(--mixin-ljsa2e0buNJH_font-size);
  font-style: var(--mixin-ljsa2e0buNJH_font-style);
  color: var(--mixin-ljsa2e0buNJH_color);
  text-align: var(--mixin-ljsa2e0buNJH_text-align);
  text-transform: var(--mixin-ljsa2e0buNJH_text-transform);
  line-height: var(--mixin-ljsa2e0buNJH_line-height);
  white-space: var(--mixin-ljsa2e0buNJH_white-space);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-6m02ejBnd7Ou_font-family);
  color: var(--mixin-6m02ejBnd7Ou_color);
  font-size: var(--mixin-6m02ejBnd7Ou_font-size);
  font-weight: var(--mixin-6m02ejBnd7Ou_font-weight);
  letter-spacing: var(--mixin-6m02ejBnd7Ou_letter-spacing);
  line-height: var(--mixin-6m02ejBnd7Ou_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-vHZIXBA2Yy7s_font-family);
  color: var(--mixin-vHZIXBA2Yy7s_color);
  font-size: var(--mixin-vHZIXBA2Yy7s_font-size);
  font-weight: var(--mixin-vHZIXBA2Yy7s_font-weight);
  letter-spacing: var(--mixin-vHZIXBA2Yy7s_letter-spacing);
  line-height: var(--mixin-vHZIXBA2Yy7s_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-0XQ_WI-DRtEq_font-family);
  color: var(--mixin-0XQ_WI-DRtEq_color);
  font-size: var(--mixin-0XQ_WI-DRtEq_font-size);
  font-weight: var(--mixin-0XQ_WI-DRtEq_font-weight);
  letter-spacing: var(--mixin-0XQ_WI-DRtEq_letter-spacing);
  line-height: var(--mixin-0XQ_WI-DRtEq_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-zAeKv1AKQTQZ_font-family);
  color: var(--mixin-zAeKv1AKQTQZ_color);
  font-size: var(--mixin-zAeKv1AKQTQZ_font-size);
  font-weight: var(--mixin-zAeKv1AKQTQZ_font-weight);
  letter-spacing: var(--mixin-zAeKv1AKQTQZ_letter-spacing);
  line-height: var(--mixin-zAeKv1AKQTQZ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-wck5nRqbABBb_font-family);
  color: var(--mixin-wck5nRqbABBb_color);
  font-size: var(--mixin-wck5nRqbABBb_font-size);
  font-weight: var(--mixin-wck5nRqbABBb_font-weight);
  line-height: var(--mixin-wck5nRqbABBb_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-iikcjH7bYIjn_color);
  padding-left: var(--mixin-iikcjH7bYIjn_padding-left);
  border-left: var(--mixin-iikcjH7bYIjn_border-left-width)
    var(--mixin-iikcjH7bYIjn_border-left-style)
    var(--mixin-iikcjH7bYIjn_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mTRjLzm8Ds3x_font-family);
  border-radius: var(--mixin-mTRjLzm8Ds3x_border-top-left-radius)
    var(--mixin-mTRjLzm8Ds3x_border-top-right-radius)
    var(--mixin-mTRjLzm8Ds3x_border-bottom-right-radius)
    var(--mixin-mTRjLzm8Ds3x_border-bottom-left-radius);
  padding: var(--mixin-mTRjLzm8Ds3x_padding-top)
    var(--mixin-mTRjLzm8Ds3x_padding-right)
    var(--mixin-mTRjLzm8Ds3x_padding-bottom)
    var(--mixin-mTRjLzm8Ds3x_padding-left);
  border-top: var(--mixin-mTRjLzm8Ds3x_border-top-width)
    var(--mixin-mTRjLzm8Ds3x_border-top-style)
    var(--mixin-mTRjLzm8Ds3x_border-top-color);
  border-right: var(--mixin-mTRjLzm8Ds3x_border-right-width)
    var(--mixin-mTRjLzm8Ds3x_border-right-style)
    var(--mixin-mTRjLzm8Ds3x_border-right-color);
  border-bottom: var(--mixin-mTRjLzm8Ds3x_border-bottom-width)
    var(--mixin-mTRjLzm8Ds3x_border-bottom-style)
    var(--mixin-mTRjLzm8Ds3x_border-bottom-color);
  border-left: var(--mixin-mTRjLzm8Ds3x_border-left-width)
    var(--mixin-mTRjLzm8Ds3x_border-left-style)
    var(--mixin-mTRjLzm8Ds3x_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-eIOiv-ss_Rua_font-family);
  border-radius: var(--mixin-eIOiv-ss_Rua_border-top-left-radius)
    var(--mixin-eIOiv-ss_Rua_border-top-right-radius)
    var(--mixin-eIOiv-ss_Rua_border-bottom-right-radius)
    var(--mixin-eIOiv-ss_Rua_border-bottom-left-radius);
  padding: var(--mixin-eIOiv-ss_Rua_padding-top)
    var(--mixin-eIOiv-ss_Rua_padding-right)
    var(--mixin-eIOiv-ss_Rua_padding-bottom)
    var(--mixin-eIOiv-ss_Rua_padding-left);
  border-top: var(--mixin-eIOiv-ss_Rua_border-top-width)
    var(--mixin-eIOiv-ss_Rua_border-top-style)
    var(--mixin-eIOiv-ss_Rua_border-top-color);
  border-right: var(--mixin-eIOiv-ss_Rua_border-right-width)
    var(--mixin-eIOiv-ss_Rua_border-right-style)
    var(--mixin-eIOiv-ss_Rua_border-right-color);
  border-bottom: var(--mixin-eIOiv-ss_Rua_border-bottom-width)
    var(--mixin-eIOiv-ss_Rua_border-bottom-style)
    var(--mixin-eIOiv-ss_Rua_border-bottom-color);
  border-left: var(--mixin-eIOiv-ss_Rua_border-left-width)
    var(--mixin-eIOiv-ss_Rua_border-left-style)
    var(--mixin-eIOiv-ss_Rua_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Ey3dVKRIg8PX_display);
  flex-direction: var(--mixin-Ey3dVKRIg8PX_flex-direction);
  align-items: var(--mixin-Ey3dVKRIg8PX_align-items);
  justify-content: var(--mixin-Ey3dVKRIg8PX_justify-content);
  list-style-position: var(--mixin-Ey3dVKRIg8PX_list-style-position);
  padding-left: var(--mixin-Ey3dVKRIg8PX_padding-left);
  position: var(--mixin-Ey3dVKRIg8PX_position);
  list-style-type: var(--mixin-Ey3dVKRIg8PX_list-style-type);
  flex-column-gap: var(--mixin-Ey3dVKRIg8PX_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-KYS9l9oEVKYr_display);
  flex-direction: var(--mixin-KYS9l9oEVKYr_flex-direction);
  align-items: var(--mixin-KYS9l9oEVKYr_align-items);
  justify-content: var(--mixin-KYS9l9oEVKYr_justify-content);
  list-style-position: var(--mixin-KYS9l9oEVKYr_list-style-position);
  padding-left: var(--mixin-KYS9l9oEVKYr_padding-left);
  position: var(--mixin-KYS9l9oEVKYr_position);
  list-style-type: var(--mixin-KYS9l9oEVKYr_list-style-type);
  flex-column-gap: var(--mixin-KYS9l9oEVKYr_flex-column-gap);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
}
