.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-XgjXPNV_9WE9);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-cpAzXDjg1b1z);
  font-family: var(--token-wjefKUAKolMo);
  font-size: var(--token-A5pfJRzTXKuJ);
  line-height: var(--token-K_VkhBQdYyfV);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-u3eHUCgM08OR);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-FfLoteMzLNfy);
  outline-offset: 1px;
  outline-color: var(--token-XgjXPNV_9WE9);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-y9nnUXwziq_6);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-WsAo8JfY7A2Z);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-Sd7TGxa-fIxN);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-y3H_RAvFxdt7);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-R5dP4H7Ox5NL);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-Wam8LlJVX_n7);
  font-size: var(--token-23STbJMIKtZT);
  column-gap: var(--token-FfLoteMzLNfy);
  row-gap: 0px;
  border-radius: var(--token-CnMOdrlmAH3a);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-23STbJMIKtZT);
  line-height: var(--token-Wam8LlJVX_n7);
  column-gap: var(--token-CnMOdrlmAH3a);
  row-gap: 0px;
  border-radius: var(--token-CnMOdrlmAH3a);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-sT-BSdzLNCfs);
  line-height: var(--token-e5CRMHTaUJvy);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-sT-BSdzLNCfs);
  line-height: var(--token-e5CRMHTaUJvy);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-phje6mOC0CF-);
  border-radius: var(--token-u3eHUCgM08OR);
}
.softBackgroundcolor_neutral {
  background: var(--token-tByR9mcLbpen);
}
.softBackgroundcolor_muted {
  background: var(--token-QKVV7ZBvSFlu);
}
.softBackgroundcolor_success {
  background: var(--token-m9kv-NPVtGeo);
}
.softBackgroundcolor_warning {
  background: var(--token-xO18J4KbrNNj);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-_Lz0yPjS6JBS);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-u3eHUCgM08OR);
  border: 0px solid var(--token-Bb8E04aNtD2B);
}
.bordercolor_neutral {
  border-color: var(--token-0QE3ptlp7xna);
}
.bordercolor_muted {
  border-color: var(--token-s0ziBQQju3ld);
}
.bordercolor_success {
  border-color: var(--token-bkOGd9AP3wvT);
}
.bordercolor_warning {
  border-color: var(--token-DB3nCgbm32gS);
}
.bordercolor_errorDestructive {
  border-color: var(--token-A5Wq9B-loIqv);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-u3eHUCgM08OR);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-l71sRQLdPysO);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-XzEGruuAczSo);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-zJ8ygGecBPW1);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__eErIa {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-u3eHUCgM08OR) var(--token-zDIgo2_aCsIH);
}
.freeBox__eErIa > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-u3eHUCgM08OR));
  width: calc(100% + var(--token-u3eHUCgM08OR));
}
.freeBox__eErIa > :global(.__wab_flex-container) > *,
.freeBox__eErIa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eErIa > :global(.__wab_flex-container) > picture > img,
.freeBox__eErIa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-u3eHUCgM08OR);
}
.freeBoxsize_extraSmall__eErIaV06XW {
  padding: var(--token-CnMOdrlmAH3a) var(--token-u3eHUCgM08OR);
}
.freeBoxsize_small__eErIahC2Ku {
  padding: var(--token-u3eHUCgM08OR) var(--token-cpAzXDjg1b1z);
}
.freeBoxsize_large__eErIaB7EXw {
  padding-top: var(--token-CnMOdrlmAH3a);
  padding-bottom: var(--token-CnMOdrlmAH3a);
}
.freeBoxsize_extraLarge__eErIa6D7Vh {
  padding-left: var(--token-XMQkM8AcEkrG);
  padding-right: var(--token-XMQkM8AcEkrG);
}
.freeBoxroundedFull__eErIakdjbO {
  padding-right: var(--token-XMQkM8AcEkrG);
  padding-left: var(--token-XMQkM8AcEkrG);
}
.freeBox__ue7Sh {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__ue7ShUu6G9 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-zD13gx0EptDq);
}
.slotTargetStartcolor_neutral {
  color: var(--token-9-yGz4oyq9us);
}
.slotTargetStartcolor_muted {
  color: var(--token-sChLyJFjjcxl);
}
.slotTargetStartcolor_success {
  color: var(--token-06h1ttZ7DDnu);
}
.slotTargetStartcolor_warning {
  color: var(--token-8OWqVskSa5-W);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-cIfHvE01KrLP);
}
.slotTargetStarttype_soft {
  color: var(--token-sSGOLgV5mRHO);
}
.slotTargetStarttype_bordered {
  color: var(--token-sSGOLgV5mRHO);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-23STbJMIKtZT);
}
.slotTargetStartsize_small {
  font-size: var(--token-23STbJMIKtZT);
}
.slotTargetStartsize_large {
  font-size: var(--token-sT-BSdzLNCfs);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-sT-BSdzLNCfs);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-JyNzBEZhyBzw);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-JyNzBEZhyBzw);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-tgOWaV5-Y2XZ);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-tgOWaV5-Y2XZ);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-WOyrWnZ5dBzw);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-WOyrWnZ5dBzw);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-UsxDRv3U-pub);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-UsxDRv3U-pub);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-evueJPSBSQtS);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-evueJPSBSQtS);
}
.svg__pcsJg {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-zD13gx0EptDq);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-9-yGz4oyq9us);
}
.slotTargetLabelcolor_muted {
  color: var(--token-sChLyJFjjcxl);
}
.slotTargetLabelcolor_success {
  color: var(--token-06h1ttZ7DDnu);
}
.slotTargetLabelcolor_warning {
  color: var(--token-8OWqVskSa5-W);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-cIfHvE01KrLP);
}
.slotTargetLabeltype_soft {
  color: var(--token-sSGOLgV5mRHO);
}
.slotTargetLabeltype_bordered {
  color: var(--token-sSGOLgV5mRHO);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-JyNzBEZhyBzw);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-tgOWaV5-Y2XZ);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-JyNzBEZhyBzw);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-WOyrWnZ5dBzw);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-tgOWaV5-Y2XZ);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-UsxDRv3U-pub);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-WOyrWnZ5dBzw);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-evueJPSBSQtS);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-UsxDRv3U-pub);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-evueJPSBSQtS);
}
.text__dPEw2 {
  white-space: pre;
}
.freeBox__pM0Mi {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__pM0MicbC0I {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-zD13gx0EptDq);
}
.slotTargetEndcolor_neutral {
  color: var(--token-9-yGz4oyq9us);
}
.slotTargetEndcolor_muted {
  color: var(--token-sChLyJFjjcxl);
}
.slotTargetEndcolor_success {
  color: var(--token-06h1ttZ7DDnu);
}
.slotTargetEndcolor_warning {
  color: var(--token-8OWqVskSa5-W);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-cIfHvE01KrLP);
}
.slotTargetEndtype_soft {
  color: var(--token-sSGOLgV5mRHO);
}
.slotTargetEndtype_bordered {
  color: var(--token-sSGOLgV5mRHO);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-23STbJMIKtZT);
}
.slotTargetEndsize_small {
  font-size: var(--token-23STbJMIKtZT);
}
.slotTargetEndsize_large {
  font-size: var(--token-sT-BSdzLNCfs);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-sT-BSdzLNCfs);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-JyNzBEZhyBzw);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-JyNzBEZhyBzw);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-tgOWaV5-Y2XZ);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-tgOWaV5-Y2XZ);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-WOyrWnZ5dBzw);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-WOyrWnZ5dBzw);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-UsxDRv3U-pub);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-UsxDRv3U-pub);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-evueJPSBSQtS);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-evueJPSBSQtS);
}
.svg__whElT {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
